rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      match /shotclocks/{shotclock} {
        function hasExpireAt() {
          return request.resource.data.expireAt.toMillis() < (request.time.toMillis() + 1000*60*60*13);
        }
        allow get: if true;
        allow create, update: if hasExpireAt();
      }
    }
  }
}